
<section class="bread-crumb margin-bottom-30">
	<div class="container">
		<div class="row">
			
			<div class="col-xs-12">
				<ul class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">					
					<li class="home">
						<a itemprop="url" href="/" title="Trang chủ"><span itemprop="title">Trang chủ</span></a>						
						<span><i class="fa fa-angle-right"></i></span>
					</li>					
					<li><strong itemprop="title">Giới thiệu</strong></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div class="container container1">
    <div class="row">
        <div class="col-lg-6">
            <div class="sidebar-img mb-all-30">
                <img src="../../../assets/images/aboutus.jpg" alt="single-blog-img">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-desc">
                <h3 class="mb-10 about-title">Sport Shop</h3>
                <p class="mb-20">Xin chào các bạn, thành lập và hoạt động từ đầu 2020, Sport Shop là đại diện tập thể anh chị em chúng tôi</p>
                <p class="mb-20">Chúng tôi tự hào là nơi cung cấp đồ thể thao cho mọi người trong trên toàn quốc</p>
                <p class="mb-20">Để biết thêm chi tiết, vui lòng liên hệ với chúng tôi thông qua địa chỉ email: manh3698@gmail.com hoặc số điện thoại: 0964475217 để biết thêm thông tin</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
