*{
    box-sizing: border-box;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.row::before{
    display: table;
    content: " ";
}
.row::after{
    clear: both;
    display: table;
    content: " ";
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 992px){
    .col-md-offset-3 {
        margin-left: 25%;
    }
}

@media (min-width: 992px){
    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
@media (min-width: 768px){
    .col-md-6 {
        flex: none; 
        max-width: 100%;
    }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}
.text-center{
    text-align: center !important;
}
.page-login #login .title-head {
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    color: #222;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 12px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 400;
}
.title-head {
    text-decoration: none;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: .01em;
}
form {
    display: block;
    margin-top: 0em;
}
#customer_login, #recover_customer_password {
    margin-bottom: 0;
}
input {
    display: inline-block;
    width: auto;
}
input, textarea, select, fieldset {
    border-radius: 0;
    max-width: 100%;
}
input, textarea, button, select {
    font-size: 1em;
}
body, input, textarea, button, select {
    line-height: 1.7;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.25px;
}
*, input, :before, :after {
    box-sizing: border-box;
}
input{
    margin: 0;
    font : inherit;
}
input[type="hidden" i] {
    appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
input {
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
}
.clear-fix::before{
    display: table;
    content: " ";
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
label {
    display: block;
    margin-bottom: 2px;
    max-width: 100%;
    color: #363F4D;
    font:14px Roboto,Helvetica,Arial,sans-serif;
    margin: 0px 0px 2px;
    font-weight: bold;
}
.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
}
input[type="email"] , input[type="password"]{
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    border: 1px solid #ebebeb;
    max-width: 100%;
}
.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}
.page-login #login .btn-blues {
    background: transparent;
    color: #f72b3f;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 30px;
    font-size: 13px;
    border: 1px solid;
    border-color: #f72b3f;
    font-weight: 500;
    z-index: 2;
    transition: all 0.45s ease-in-out;
}
.btn-blues, #btnnewreview {
    border-radius: 2px !important;
    overflow: hidden;
}
.btn {
    height: 40px;
    line-height: 39px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    letter-spacing: 0;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    margin-bottom: 0;
}
.pull-xs-left{
    margin-top: 15px;
}
.page-login #login p.text-center {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
p {
    margin: 0 0 15px 0;
}
.page-login #login p.text-center .btn-link-style {
    margin-top: 15px;
    font-weight: 600;
    color: #222;
    display: inline-block;
}
a{
    text-decoration: none;
    background: transparent;
    color:#0657a3;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.social-login a {
    display: inline-block;
}
.social-login a.social-login--google {
    margin-left: 10px;
}
.page-login #login .title-head::after {
    left: 43%;
    bottom: -2px;
    content: "";
    width: 76px;
    height: 2px;
    display: inline-block;
    background: #f72b3f;
    position: absolute;
}
:after{
    box-sizing: border-box;
}
.required {
    font-size: 13px;
    color: red;
}
.page-login #login .text-center {
    margin-bottom: 10px;
}