<section class="product" itemscope="" itemtype="http://schema.org/Product">
    <meta itemprop="url" content="//sportshop.vn/ao-ba-lo-nam">
    <meta itemprop="image"
        content="//bizweb.dktcdn.net/thumb/grande/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813">
    <meta itemprop="description" content="     Vải thun co giãn 4 chiều.      
     Tốc độ thấm hút mồ hôi rất nhanh. Mồ hôi khi toát ra sẽ thấm đều ra bền mặt vải để thoát khí được nhanh từ đó làm khô nhanh hơn.     
 
     Kiểu áo Ba lỗ giúp cho phái mạnh trở lên khỏe khoắn,phong độ và cuốn hút hơn.     
     Với thiết kế cổ tròn lịch ...">
    <meta itemprop="name" content="ÁO BA LỖ NAM">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 details-product">
                <div class="row product-bottom">
                    <div class="clearfix padding-bottom-10">
                        <div class="col-xs-12 col-sm-6 col-lg-5 col-md-6">
                            <div class="relative product-image-block ">
                                <div class="large-image">
                                    <a href="//bizweb.dktcdn.net/thumb/1024x1024/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813"
                                        data-rel="prettyPhoto[product-gallery]" class="large_image_url">
                                        <div style="height:500px;width:468px;" class="zoomWrapper"><img id="zoom_01"
                                                src="../../../../assets/img/{{detail.images}}"
                                                alt="ÁO BA LỖ NAM" class="img-responsive center-block"
                                                style="position: absolute;"></div>
                                    </a>
                                    <div class="hidden">
                                        <div class="item">
                                            <a href="https://bizweb.dktcdn.net/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813"
                                                data-image="https://bizweb.dktcdn.net/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813"
                                                data-zoom-image="https://bizweb.dktcdn.net/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813"
                                                data-rel="prettyPhoto[product-gallery]">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="https://bizweb.dktcdn.net/100/376/467/products/14043565963-1113668521.jpg?v=1602748501150"
                                                data-image="https://bizweb.dktcdn.net/100/376/467/products/14043565963-1113668521.jpg?v=1602748501150"
                                                data-zoom-image="https://bizweb.dktcdn.net/100/376/467/products/14043565963-1113668521.jpg?v=1602748501150"
                                                data-rel="prettyPhoto[product-gallery]">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="gallery_01"
                                    class="owl-carousel owl-theme thumbnail-product margin-top-15 owl-loaded owl-drag"
                                    data-md-items="4" data-sm-items="4" data-xs-items="4" data-xss-items="3"
                                    data-margin="10" data-nav="true">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage"
                                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1076px;">
                                            <div class="owl-item active" style="width: 109.5px; margin-right: 10px;">
                                                <div class="item">
                                                    <a class="thumb-link" href="javascript:void(0);"
                                                        data-image="https://bizweb.dktcdn.net/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813"
                                                        data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813">
                                                        <img src="../../../../assets/img/{{detail.images}}"
                                                            alt="ÁO BA LỖ NAM"
                                                            data-image="https://bizweb.dktcdn.net/100/376/467/products/14006076639-1113668521.jpg?v=1602748500813">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 109.5px; margin-right: 10px;">
                                                <div class="item">
                                                    <a class="thumb-link" href="javascript:void(0);"
                                                        data-image="https://bizweb.dktcdn.net/100/376/467/products/14043565963-1113668521.jpg?v=1602748501150"
                                                        data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/376/467/products/14043565963-1113668521.jpg?v=1602748501150">
                                                        <img src="../../../../assets/img/{{detail.images}}"
                                                            alt="ÁO BA LỖ NAM"
                                                            data-image="https://bizweb.dktcdn.net/100/376/467/products/14043565963-1113668521.jpg?v=1602748501150">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 109.5px; margin-right: 10px;">
                                                <div class="item">
                                                    <a class="thumb-link" href="javascript:void(0);"
                                                        data-image="https://bizweb.dktcdn.net/100/376/467/products/14043574896-1113668521.jpg?v=1602748501707"
                                                        data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/376/467/products/14043574896-1113668521.jpg?v=1602748501707">
                                                        <img src="../../../../assets/img/{{detail.images}}"
                                                            alt="ÁO BA LỖ NAM"
                                                            data-image="https://bizweb.dktcdn.net/100/376/467/products/14043574896-1113668521.jpg?v=1602748501707">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 109.5px; margin-right: 10px;">
                                                <div class="item">
                                                    <a class="thumb-link" href="javascript:void(0);"
                                                        data-image="https://bizweb.dktcdn.net/100/376/467/products/14043589529-1113668521.jpg?v=1602748502170"
                                                        data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/376/467/products/14043589529-1113668521.jpg?v=1602748502170">
                                                        <img src="../../../../assets/img/{{detail.images}}"
                                                            alt="ÁO BA LỖ NAM"
                                                            data-image="https://bizweb.dktcdn.net/100/376/467/products/14043589529-1113668521.jpg?v=1602748502170">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 109.5px; margin-right: 10px;">
                                                <div class="item">
                                                    <a class="thumb-link" href="javascript:void(0);"
                                                        data-image="https://bizweb.dktcdn.net/100/376/467/products/14043592532-1113668521.jpg?v=1602748502780"
                                                        data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/376/467/products/14043592532-1113668521.jpg?v=1602748502780">
                                                        <img src="../../../../assets/img/{{detail.images}}"
                                                            alt="ÁO BA LỖ NAM"
                                                            data-image="https://bizweb.dktcdn.net/100/376/467/products/14043592532-1113668521.jpg?v=1602748502780">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-nav">
                                        <div class="owl-prev disabled"><i class="fa fa-angle-left"
                                                aria-hidden="true"></i></div>
                                        <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="owl-dots disabled"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-7 col-md-6 details-pro">
                            <div class="product-top clearfix">
                                <h1 class="title-head" style="text-transform: uppercase;">{{detail.name}}</h1>
                                <div class="panel-product-line panel-product-rating clearfix">
                                    <div class="bizweb-product-reviews-badge" data-id="19400992">
                                        <div class="bizweb-product-reviews-star" data-score="0" data-number="5"
                                            title="Not rated yet!" style="color: rgb(255, 190, 0);"><i data-alt="1"
                                                class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="2"
                                                class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="3"
                                                class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="4"
                                                class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="5"
                                                class="star-off-png" title="Not rated yet!"></i><input name="score"
                                                type="hidden" readonly=""></div>
                                        <div><img src="https://productreviews.sapoapps.vn//assets/images/user.png"
                                                width="18" height="17"></div>
                                    </div>
                                    <div class="iddanhgia" onclick="scrollToxx();">
                                        <span>Đánh giá sản phẩm</span>
                                    </div>
                                </div>
                                <div class="sku-product">
                                    Mã sản phẩm: <span class="variant-sku">{{detail.code}}</span>
                                </div>
                            </div>
                            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <div class="price-box clearfix">
                                    <span class="special-price">
                                        <span class="price product-price">{{detail.newPrice}}</span>
                                        <meta itemprop="price" content="279000">
                                        <meta itemprop="priceCurrency" content="VND">
                                    </span> <!-- Giá Khuyến mại -->
                                    <span class="old-price" itemprop="priceSpecification" itemscope=""
                                        itemtype="http://schema.org/priceSpecification">
                                        Giá thị trường:
                                        <del class="price product-price-old">{{detail.oldPrice}}</del>
                                        <meta itemprop="price" content="389000">
                                        <meta itemprop="priceCurrency" content="VND">
                                    </span> <!-- Giá gốca -->
                                    <span class="save-price">Tiết kiệm:
                                        <span class="price product-price-save">{{discount}}</span>
                                    </span> <!-- Tiết kiệm -->
                                </div>
                                <div class="inventory_quantity  deny 0">
                                    <span class="stock-brand-title"><strong><i class="ion ion-ios-checkmark-circle"></i>
                                            Tình trạng:</strong></span>
                                    <span class="a-stock a4"><span class="a-stock">{{detail.status}}</span></span>
                                </div>
                            </div>
                            <div class="product-summary product_description margin-bottom-15 margin-top-15">
                                <div class="rte description">
                                </div>
                            </div>
                            <div class="form-product">
                                <form enctype="multipart/form-data" id="add-to-cart-form" action="/cart/add"
                                    method="post" class="form-inline has-validation-callback">
                                    <div class="select-swatch">
                                        <div id="variant-swatch-0" class="swatch clearfix" data-option="option1"
                                            data-option-index="0">
                                            <div class="header">Màu sắc</div>
                                            <div class="select-swap">
                                                <div data-value="Đen" class="n-sd swatch-element color den ">
                                                    <input class="variant-0" id="swatch-0-den" type="radio"
                                                        name="option1" value="Đen" checked="">
                                                    <label class="den no-thumb" for="swatch-0-den">
                                                        <span>{{detail.color}}</span>
                                                        <img class="crossed-out"
                                                            src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/soldout.png?1603383399052"
                                                            alt="Đen">
                                                        <img class="img-check"
                                                            src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/select-pro.png?1603383399052"
                                                            alt="Đen">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="variant-swatch-1" class="swatch clearfix" data-option="option2"
                                            data-option-index="1">
                                            <div class="header">Size</div>
                                            <div class="select-swap">
                                                <div data-value="S" class="n-sd swatch-element s ">
                                                    <input class="variant-1" id="swatch-1-s" type="radio" name="option2"
                                                        value="S" checked="">

                                                    <label for="swatch-1-s">
                                                        {{detail.size}}
                                                        <img class="crossed-out"
                                                            src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/soldout.png?1603383399052"
                                                            alt="S">
                                                        <img class="img-check"
                                                            src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/select-pro.png?1603383399052"
                                                            alt="S">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix form-group">
                                        <div class="custom custom-btn-number form-control">
                                            <button class="btn-minus btn-cts" type="button" style="float: left;">–</button>
                                            <input type="text" class="qty input-text" id="qty" name="quantity" size="4" value="1" [(ngModel)]= "quantityInput">
                                            <button class="btn-plus btn-cts" type="button">+</button>
                                        </div>
                                        <div class="btn-mua">

                                            <button type="submit" data-role="addtocart"
                                                class="btn btn-lg btn-gray btn-cart add_to_cart btn_buy add_to_cart"><span
                                                    class="txt-main" (click)="addtocart()">Thêm vào giỏ hàng</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="size-guide">
                                <a class="size-title" data-toggle="modal" data-target="#mySize">
                                    <img src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/size_image.svg?1603383399052"
                                        alt="Hướng dẫn chọn size"> Hướng dẫn chọn size
                                </a>
                                <div class="modal fade" id="mySize" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h3 class="modal-title" id="exampleModalLongTitle">Hướng dẫn chọn size</h3>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body popup">
                                            <img class="question" src="../../../../assets/images/BANG-SIZE-AO-BONG-DA.jpg" alt="">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="call-and-payment">
                                <div class="hotline_product">
                                    Gọi điện để được tư vấn: <a href="tel:0969959168">0964475217</a>
                                </div>
                                <div class="payment_product">
                                    <span class="payment_product_text">Chấp nhận thanh toán bằng: </span>
                                    <img src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/payment-1.svg?1603383399052"
                                        alt="Sport Shop">
                                    <img src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/payment-2.svg?1603383399052"
                                        alt="Sport Shop">
                                    <img src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/payment-3.svg?1603383399052"
                                        alt="Sport Shop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-9">
                        <div class="product-tab e-tabs padding-bottom-10">
                            <div class="border-ghghg margin-bottom-20">
                                <ul class="tabs tabs-title clearfix">
                                    <li class="tab-link current" data-tab="tab-1">
                                        <h3><span>Mô tả</span></h3>
                                    </li>
                                    <!-- <li class="tab-link" data-tab="tab-2">
                                        <h3><span>Nội dung</span></h3>
                                    </li>
                                    <li class="tab-link" data-tab="tab-3">
                                        <h3><span>Nhận xét sản phẩm</span></h3>
                                    </li> -->
                                </ul>
                            </div>
                            <div id="tab-1" class="tab-content current">
                                <div class="rte">
                                    <ckeditor [(ngModel)]="detail.content" name="content"></ckeditor>
                                    <!-- {{detail.content}} -->
                                </div>
                            </div>
                            <div id="tab-2" class="tab-content">
                               
                            </div>
                            <div id="tab-3" class="tab-content">
                                <div id="bizweb-product-reviews" class="bizweb-product-reviews" data-id="19400992">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="right_module">
                            <div class="similar-product">
                                <div class="right-bestsell">
                                    <h2><a href="frontpage" title="Mới ra mắt">Mới ra mắt</a></h2>
                                    <div class="list-bestsell">
                                        <div class="list-bestsell-item" *ngFor = 'let hot of listHot'>
                                            <div class="thumbnail-container clearfix">
                                                <div class="product-image">
                                                    <a [routerLink]="['/' + hot.id + '/detail']">   
                                                        <img class="img-responsive" src="../../../../assets/img/{{hot.images}}"  alt="">                                                        
                                                    </a>
                                                </div>
                                                <div class="product-meta">
                                                    <h3><a [routerLink]="['/' + hot.id + '/detail']" title="{{hot.name}}">{{hot.name}}</a></h3>
                                                    <div class="product-price-and-shipping">
                                                        <span class="price">{{hot.newPrice | currency : 'VND'}}</span>
                                                        <span class="regular-price">{{hot.oldPrice | currency : 'VND'}}</span>     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="list-bestsell-item">
                                            <div class="thumbnail-container clearfix">
                                                <div class="product-image">
                                                    <a href="/bo-dai-tay-set-3-cai">
                                                        <img class="img-responsive" src="//bizweb.dktcdn.net/thumb/small/100/376/467/products/12896285307-1070846300.jpg?v=1603248951000" data-lazyload="//bizweb.dktcdn.net/thumb/small/100/376/467/products/12896285307-1070846300.jpg?v=1603248951000" alt="SET BA DÀI TAY CHẠY BỘ - TẬP GYM - YOGA CHO MÙA ĐÔNG KHÔNG CÒN LẠNH GIÁ">
                                                    </a>
                                                </div>
                                                <div class="product-meta">
                                                    <h3><a href="/bo-dai-tay-set-3-cai" title="SET BA DÀI TAY CHẠY BỘ - TẬP GYM - YOGA CHO MÙA ĐÔNG KHÔNG CÒN LẠNH GIÁ">SET BA DÀI TAY CHẠY BỘ - TẬP GYM - YOGA CHO MÙA ĐÔNG KHÔNG CÒN LẠNH GIÁ</a></h3>
                                                    <div class="product-price-and-shipping">
                                                        <span class="price">859.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-20 margin-bottom-10">
            <div class="col-lg-12">
                <div class="related-product">
                    <div class="home-title">
                        <h2><a href="/ao-the-thao-nam">Sản phẩm cùng loại</a></h2>
                    </div>
                    <div class="section-tour-owl owl-carousel not-dqowl products-view-grid margin-top-10 owl-loaded owl-drag"
                        data-md-items="5" data-sm-items="4" data-xs-items="2" data-margin="10">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item active" *ngFor= 'let product of listProductByCate'>
                                    <div class="item">
                                        <div class="ant-item-product" id="cate_item_collection_1" data-id="19462964">
                                            <div class="product-item">
                                                <div class="product-wrapper">
                                                    <div class="product-image product-image-block">
                                                        <a [routerLink]="['/' + product.id + '/detail']" title="ÁO CỘC TAY NAM">
                                                            <img src="../../../../assets/img/{{product.images}}"
                                                                
                                                                alt="ÁO CỘC TAY NAM"
                                                                class="image_main img-responsive center-block">
                                                        </a>
                                                    </div>
                                                    <div class="product_desc Màu sắc">
                                                        <div class="product_variant_box hidden-sm hidden-xs hidden-md">

                                                            <p class="variant_text variant_text_size nomargin">{{product.color}}</p>
                                                            <div class="size-box not-dqowl owl-theme owl-carousel owl-loaded owl-drag">
                                                                <div class="owl-stage-outer">
                                                                    <div class="owl-stage"
                                                                        style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                                                                        <div class="owl-item"><span class="size_item"
                                                                                data-color="S" data-size="Đen"
                                                                                title="Đen">Đen</span></div>
                                                                        <div class="owl-item"><span class="size_item"
                                                                                data-color="S" data-size="Xám"
                                                                                title="Xám">Xám</span></div>
                                                                        <div class="owl-item"><span class="size_item"
                                                                                data-color="S" data-size="Xanh da trời"
                                                                                title="Xanh da trời">Xanh da trời</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="owl-nav disabled">
                                                                    <div class="owl-prev"></div>
                                                                    <div class="owl-next"></div>
                                                                </div>
                                                                <div class="owl-dots disabled"></div>
                                                            </div>

                                                        </div>
                                                        <h3 class="product_name">
                                                            <a [routerLink]="['/' + product.id + '/detail']" title="ÁO CỘC TAY NAM">{{product.name}}</a>
                                                        </h3>
                                                        <div class="product_prices">
                                                            <span class="special-price">
                                                                <span class="price-container">
                                                                    <span class="price-wrapper">
                                                                        <span class="price spe-price">{{product.newPrice | currency : 'VND'}}</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <span class="old-price">
                                                                <span class="price-container">
                                                                    <span class="price-wrapper">
                                                                        <span class="price olds-price">{{product.oldPrice | currency : 'VND'}}</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div
                                                            class="product_action clearfix hidden-sm hidden-xs hidden-md">
                                                            <form action="/cart/add" method="post"
                                                                class="variants form-nut-grid has-validation-callback"
                                                                data-id="product-actions-19462964"
                                                                enctype="multipart/form-data">
                                                                <input class="hidden variant-id" type="hidden"
                                                                    name="variantId" value="37276937">

                                                                <button type="submit" data-handle="/ao-coc-tay-nam"
                                                                    data-title="" data-product-id="19462964"
                                                                    class="loading btn btn_addtocart add_to_cart">
                                                                    ĐẶT MUA NGAY <i class="fa fa-shopping-cart"></i>
                                                                </button>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="owl-item active">
                                    <div class="item">
                                        <div class="ant-item-product" id="cate_item_collection_1" data-id="19462964">
                                            <div class="product-item">
                                                <div class="product-wrapper">
                                                    <div class="product-image product-image-block">
                                                        <a href="/ao-coc-tay-nam" title="ÁO CỘC TAY NAM">
                                                            <img src="../../../../assets/Real-madrid-xanh-Fifa-S02.jpg"
                                                                data-lazyload="//bizweb.dktcdn.net/thumb/large/100/376/467/products/16308900618-1113668521.jpg?v=1603092963000"
                                                                alt="ÁO CỘC TAY NAM"
                                                                class="image_main img-responsive center-block">
                                                        </a>
                                                    </div>
                                                    <div class="product_desc Màu sắc">
                                                        <div class="product_variant_box hidden-sm hidden-xs hidden-md">

                                                            <p class="variant_text variant_text_size nomargin">+ 3 Màu
                                                                sắc</p>
                                                            <div class="size-box not-dqowl owl-theme owl-carousel owl-loaded owl-drag">
                                                                <div class="owl-stage-outer">
                                                                    <div class="owl-stage"
                                                                        style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                                                                        <div class="owl-item"><span class="size_item"
                                                                                data-color="S" data-size="Đen"
                                                                                title="Đen">Đen</span></div>
                                                                        <div class="owl-item"><span class="size_item"
                                                                                data-color="S" data-size="Xám"
                                                                                title="Xám">Xám</span></div>
                                                                        <div class="owl-item"><span class="size_item"
                                                                                data-color="S" data-size="Xanh da trời"
                                                                                title="Xanh da trời">Xanh da trời</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="owl-nav disabled">
                                                                    <div class="owl-prev"></div>
                                                                    <div class="owl-next"></div>
                                                                </div>
                                                                <div class="owl-dots disabled"></div>
                                                            </div>

                                                        </div>
                                                        <h3 class="product_name">
                                                            <a href="/ao-coc-tay-nam" title="ÁO CỘC TAY NAM">ÁO CỘC TAY
                                                                NAM</a>
                                                        </h3>
                                                        <div class="product_prices">
                                                            <span class="special-price">
                                                                <span class="price-container">
                                                                    <span class="price-wrapper">
                                                                        <span class="price spe-price">299.000₫</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <span class="old-price">
                                                                <span class="price-container">
                                                                    <span class="price-wrapper">
                                                                        <span class="price olds-price">400.000₫</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div
                                                            class="product_action clearfix hidden-sm hidden-xs hidden-md">
                                                            <form action="/cart/add" method="post"
                                                                class="variants form-nut-grid has-validation-callback"
                                                                data-id="product-actions-19462964"
                                                                enctype="multipart/form-data">
                                                                <input class="hidden variant-id" type="hidden"
                                                                    name="variantId" value="37276937">

                                                                <button type="submit" data-handle="/ao-coc-tay-nam"
                                                                    data-title="" data-product-id="19462964"
                                                                    class="loading btn btn_addtocart add_to_cart">
                                                                    ĐẶT MUA NGAY <i class="fa fa-shopping-cart"></i>
                                                                </button>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="owl-nav disabled">
                            <div class="owl-prev disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                            <div class="owl-next disabled"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                        </div>
                        <div class="owl-dots disabled">
                            <div class="owl-dot active"><span></span></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>