<div class="container">
  <div class="caption">
    <h2>Danh mục sản phẩm</h2>
</div>
<div class="div2">
    <a href="" type="button" class="btn-add" data-toggle="modal" data-target="#modalAdd">
        <i class="fa fa-check"></i>
        Thêm danh mục
    </a>
    <!-- <form class="search" action="" style="float: right;"> -->
      <input type="search" class="search" placeholder="Tìm kiếm danh mục">
      <!-- <i class="fa fa-search"></i> -->
    <!-- </form> -->
</div>
<div>
    <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên danh mục</th>
            <th>Loại</th>
            <th scope="col">Xem sản phẩm</th>
            <th scope="col">Công cụ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let cate of listCate; let i = index'>
            <th scope="row">{{i+1}}</th>
            <td>{{cate.name}}</td>
            <td>{{cate.type}}</td>
            <td><a [routerLinkActive]="['router-link-active']" [routerLink]="['/admin/' + cate.name + '/' + cate.id  + '/product']"  type="button" class="btn-list"><i class="fa fa-th-list"></i>Xem</a></td>
            <td>
                <ul>
                    <li><a  type="button" class="btn-edit" data-toggle="modal" data-target="#modalEdit" (click)="detail(cate.id)"><i class="fa fa-w fa-edit"></i>Chỉnh sửa</a></li>
                    <li><a  type="button" class="btn-delete" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-th-list"></i>Xóa</a></li>
                    <!-- <li><a href="" type="button" class="btn-list"><i class="fa fa-th-list"></i></a></li> -->
                </ul>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Thêm danh mục</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form novalidate>
              <div class="form-group">
                <label>Tên danh mục</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="dataCateAdd.name">
              </div>
              <div class="form-group">
                <label>Loại</label>
                <!-- <input type="text" class="form-control" name="name" [(ngModel)]="dataCate.name"> -->
                <select style="font-size: 14px; height: 35px;"  class="form-control" name="type" [(ngModel)]="dataCateAdd.type">
                  <option style="font-size: 14px;"  value="{{types[0].name}}">{{types[0].name}}</option>
                  <option style="font-size: 14px;" value="{{types[1].name}}">{{types[1].name}}</option>
                </select>      
              </div>            
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="addCate()">Thêm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Chỉnh sửa tên danh mục</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form novalidate>
              <div class="form-group">
                <label>Tên danh mục</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="dataCate.name">
              </div>   
              <div class="form-group">
                <label>Loại</label>
                <!-- <input type="text" class="form-control" name="name" [(ngModel)]="dataCate.name"> -->
                <select style="font-size: 14px; height: 35px;" id="idCate" class="form-control" name="type" [(ngModel)]="dataCate.type">
                  <option style="font-size: 14px;"  value="{{types[0].name}}">{{types[0].name}}</option>
                  <option style="font-size: 14px;" value="{{types[1].name}}">{{types[1].name}}</option>
                </select>      
              </div>         
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="update()">Sửa</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Bạn có muốn xóa danh mục này không</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body popup">
          <img class="question" src="../../../assets/chamhoi.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>