<section class="bread-crumb margin-bottom-30">
    <div class="container">
        <div  class="row">
            <div  class="col-xs-12">
                <ul  itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"
                    class="breadcrumb">
                    <li class="home">
                        <a itemprop="url" href="/" title="Trang chủ">
                            <span  itemprop="title">Trang chủ</span>
                        </a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </li>
                    <li>
                        <strong itemprop="title">Kết quả tìm kiếm</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <section class="main_container collection col-md-9">
            <h1 class="title-head margin-top-0 hidden">Áo thể thao nam</h1>
            <div class="group-category">
                <div class="section-tour-owl-2 products products-view-grid owl-carousel owl-loaded owl-drag"
                    data-lg-items="5" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xss-items="2"
                    data-margin="10" data-nav="true" data-dot="false">

                    <div class="owl-stage-outer">
                        <div class="owl-stage"></div>
                    </div>
                    <div class="owl-nav disabled">
                        <div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
            <div class="category-products products category-products-grids">
                <section class="products-view products-view-grid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" *ngFor='let item of listSearch'>
                            <div class="ant-item-product" id="cate_item_collection_1" data-id="19462964">
                                <div class="product-item">
                                    <div class="product-wrapper">
                                        <div class="product-image product-image-block">
                                            <a [routerLink]="['/' + item.id + '/detail']" title="ÁO CỘC TAY NAM">
                                                <img src="../../../assets/img/{{item.images[0]?.fileName}}"
                                                    data-lazyload="//bizweb.dktcdn.net/thumb/large/100/376/467/products/16308900618-1113668521.jpg?v=1603092963000"
                                                    alt="ÁO CỘC TAY NAM" class="image_main img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="product_desc Màu sắc">
                                            <div class="product_variant_box hidden-sm hidden-xs hidden-md">
                                                <p class="variant_text variant_text_size nomargin">{{item?.color}}</p>
                                            </div>
                                            <h3 class="product_name">
                                                <a [routerLink]="['/' + item.id + '/detail']"
                                                    title="ÁO CỘC TAY NAM">{{item?.name}}</a>
                                            </h3>
                                            <div class="product_prices">
                                                <span class="special-price">
                                                    <span class="price-container">
                                                        <span class="price-wrapper">
                                                            <span class="price spe-price">{{item?.newPrice}}</span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price-container">
                                                        <span class="price-wrapper">
                                                            <span class="price olds-price">{{item?.oldPrice}}</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="product_action clearfix hidden-sm hidden-xs hidden-md">
                                                <form action="/cart/add" method="post"
                                                    class="variants form-nut-grid has-validation-callback"
                                                    data-id="product-actions-19462964" enctype="multipart/form-data">
                                                    <button type="submit" data-handle="/ao-coc-tay-nam" data-title=""
                                                        data-product-id="19462964"
                                                        class="loading btn btn_addtocart add_to_cart">
                                                        ĐẶT MUA NGAY <i class="fa fa-shopping-cart"></i>
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-xs-right">
                    </div>
                </section>
            </div>
        </section>
        <div class="col-md-9 col-xs-12" *ngIf = 'isNull'>
            <div class="row">          
                <div class="col-md-12">
                    <h1 class="title-head text-center margin-bottom-10 margin-top-0">Không tìm thấy bất kỳ kết quả nào với từ khóa trên.</h1>				
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-center margin-bottom-10">Vui lòng nhập từ khóa tìm kiếm khác</div>
                    <form action="/search" method="get" class="has-validation-callback">
                        <div class="input-group">
                            <input type="search" name="query" class="form-control" placeholder="Bạn cần tìm gì hôm nay?" [(ngModel)]="searchTextComponent">
                            <span class="input-group-btn">
                                <button class="btn btn-default" (click)="search()"><i class="fa fa-search" ></i></button>
                            </span>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
        <aside class="ant-sidebar sidebar  left-content col-md-3">
            <script src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/search_filter.js?1604138874682"
                type="text/javascript"></script>
            <div class="aside-filter">
                <div class="heading">
                    <h2 class="title-head">Bộ lọc</h2>
                </div>
                <div class="aside-hidden-mobile">
                    <div class="filter-container">
                        <div class="filter-containers">
                            <div class="filter-container__selected-filter" style="display: none;">
                                <div class="filter-container__selected-filter-header clearfix">
                                    <span class="filter-container__selected-filter-header-title">Bạn chọn</span>
                                    <a class="filter-container__clear-all">Bỏ hết <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="filter-container__selected-filter-list">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <aside class="aside-item filter-vendor">
                            <div class="aside-title">
                                <h2 class="title-head margin-top-0"><span>Thương hiệu</span></h2>
                            </div>
                            <div class="aside-content filter-group">
                                <div class="field-search input-group">
                                    <input type="text" placeholder="Tìm Thương hiệu"
                                        class="form-control filter-vendor-list">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="fa fa-search"
                                                aria-hidden="true"></i></button>
                                    </span>
                                </div>
                                <ul class="filter-vendor">
                                </ul>
                            </div>
                        </aside>
                        <aside class="aside-item filter-price">
                            <div class="aside-title">
                                <h2 class="title-head margin-top-0"><span>Giá sản phẩm</span></h2>
                            </div>
                            <div class="aside-content filter-group">
                                <ul>
                                    <li class="filter-item filter-item--check-box filter-item--green"
                                        *ngFor='let checkbox of checkbox'>
                                        <a><input type="radio" name="radio" (click)="filter(checkbox.id)">
                                            {{checkbox.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <aside class="aside-item filter-tag-style-1 tag-filtster">
                            <div class="aside-title">
                                <h2 class="title-head margin-top-0"><span>Kích thước</span></h2>
                            </div>
                            <div class="aside-content filter-group">
                                <ul>
                                    <li class="filter-item filter-item--check-box filter-item--green"
                                        *ngFor="let size of size">
                                        <a><input type="radio" name="radio" (click)="filter(size.id)"> {{size.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <aside class="aside-item banner">
                <div class="aside-title">
                    <h2 class="title-head margin-top-0"><span>Khuyến mãi hot</span></h2>
                </div>
                <div class="aside-content zoom-banner">
                    <a href="#">
                        <img src="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/aside_banner.png?1604138874682"
                            data-lazyload="//bizweb.dktcdn.net/100/376/467/themes/790294/assets/aside_banner.png?1604138874682"
                            alt="Sport Shop" class="img-responsive center-block">
                    </a>
                </div>
            </aside>

        </aside>
        <div id="open-filters" class="open-filters hidden-lg hidden-md">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </div>

    </div>
</div>
<div id="popup-cart" class="modal fade in" role="dialog" style="display: none; padding-right: 17px;">
    <div id="popup-cart-desktop" class="clearfix">
        <div class="title-popup-cart">
            <i class="ion ion-md-notifications-outline" aria-hidden="true"></i> Bạn đã thêm <span
                class="cart-popup-name"><a href="/ao-coc-tay-nam-sieu-thoang-khi-chat-vai-sieu-nhe" style="color:red;"
                    title="ÁO CỘC TAY NAM SIÊU THOÁNG KHÍ, CHẤT VẢI SIÊU NHẸ - Đen / S">ÁO CỘC TAY NAM SIÊU THOÁNG KHÍ,
                    CHẤT VẢI SIÊU NHẸ - Đen / S</a> </span> vào giỏ hàng
        </div>
        <div class="title-quantity-popup">
            <a href="/cart">Giỏ hàng của bạn có <span class="cart-popup-count">1</span> sản phẩm</a>
        </div>
        <div class="content-popup-cart clearfix">
            <div class="thead-popup">
                <div style="width: 55%;" class="text-left">Sản phẩm</div>
                <div style="width: 15%;" class="text-center">Đơn giá</div>
                <div style="width: 15%;" class="text-center">Số lượng</div>
                <div style="width: 15%;" class="text-center">Thành tiền</div>
            </div>
            <div class="tbody-popup">
                <div class="item-popup productid-38725988">
                    <div style="width: 55%;" class="text-left">
                        <div class="item-image"><a class="product-image"
                                href="/ao-coc-tay-nam-sieu-thoang-khi-chat-vai-sieu-nhe"
                                title="ÁO CỘC TAY NAM SIÊU THOÁNG KHÍ, CHẤT VẢI SIÊU NHẸ - Đen / S"><img
                                    alt="ÁO CỘC TAY NAM SIÊU THOÁNG KHÍ, CHẤT VẢI SIÊU NHẸ - Đen / S"
                                    src="//bizweb.dktcdn.net/thumb/small/100/376/467/products/16308900618-1113668521.jpg"
                                    width="80"></a></div>
                        <div class="item-info">
                            <p class="item-name"><a href="/ao-coc-tay-nam-sieu-thoang-khi-chat-vai-sieu-nhe"
                                    title="ÁO CỘC TAY NAM SIÊU THOÁNG KHÍ, CHẤT VẢI SIÊU NHẸ - Đen / S">ÁO CỘC TAY NAM
                                    SIÊU THOÁNG KHÍ, CHẤT VẢI SIÊU NHẸ</a></p>
                            <p class="variant-title-popup">Đen / S</p>
                            <p class="item-remove"><a href="javascript:;" class="remove-item-cart" title="Xóa"
                                    data-id="38725988"><i class="fa fa-close"></i> Bỏ sản phẩm</a></p>
                            <p class="addpass" style="color:#fff;"><span class="add_sus" style="color:#898989;"><i
                                        style="margin-right:5px; color:red; font-size:13px;" class="fa fa-check"
                                        aria-hidden="true"></i>Sản phẩm vừa thêm!</span></p>
                        </div>
                    </div>
                    <div style="width: 15%;" class="text-right">
                        <div class="item-price"><span class="price">319.000₫</span></div>
                    </div>
                    <div style="width: 15%;" class="text-right"><span class="cart-price"> <span
                                class="price">319.000₫</span> </span></div>
                </div>
            </div>
            <div class="tfoot-popup">
                <div class="tfoot-popup-1 clearfix">
                    <div class="pull-left popupcon">
                        <a class="button btn-continue" title="Tiếp tục mua hàng"
                            onclick="$('#popup-cart').modal('hide');"><span><span><i class="fa fa-caret-left"
                                        aria-hidden="true"></i> Tiếp tục mua hàng</span></span></a>
                    </div>
                    <div class="pull-right popup-total">
                        <p>Thành tiền: <span class="total-price">319.000₫</span></p>
                    </div>
                </div>
                <div class="tfoot-popup-2 clearfix">
                    <a class="button btn-proceed-checkout" title="Thanh toán đơn hàng" href="/checkout"><span>Thanh toán
                            đơn hàng</span></a>
                </div>
            </div>
        </div>
        <a title="Close" class="quickview-close close-window" href="javascript:;"
            onclick="$('#popup-cart').modal('hide');"><i class="ion ion-ios-close"></i></a>
    </div>

</div>