<div class="row row1">
    <div class="col-md-12" style="padding-top: 5px;">
        <ngb-carousel>
            <ng-template *ngFor="let slider of sliders" ngbSlide>
                <img
                    [src]="slider.imagePath"
                    alt="Random first slide"
                    class="img-fluid mx-auto d-block"
                    width="100%"
                />
            </ng-template>
        </ngb-carousel>
    </div>
</div>
<section class="awe-section-4">
    <div class="section_product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head">
                        <h2>Đồ thể thao </h2>
                        <div class="menu-button-edit">
                            <i class="fa fa-navicon" aria-hidden="true"></i>
                        </div>
                        <ul>
                            <li><a routerLink = '/list-products/Áo bóng đá clb/1'>Áo bóng đá clb</a></li>

                            <li><a routerLink = '/list-products/Áo bóng đá đội tuyển/2'>Áo bóng đa đội tuyển</a></li>

                            <li><a routerLink = '/list-products/Mẫu khác/3'>Mẫu khác</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="content">
                        <div class="section-tour-owl2 products products-view-grid owl-carousel not-dqowl owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3480px;">
                                    <div class="owl-item active" style="width: 222px; margin-right: 10px;" *ngFor = "let clothes of ListClothes">
                                        <div class="item">
                                            <div class="ant-item-product" id="home_two_cate_item_collection_8"
                                                data-id="19420617">
                                                <div class="product-item">
                                                    <div class="product-wrapper">
                                                        <div class="product-image product-image-block">
                                                            <a  [routerLink]="['/' + clothes.id + '/detail']" title="QUẦN BÓ MÀU KHÓI">
                                                                <img src="../../../assets/img/{{clothes.images[0].fileName}}"
                                                                    data-lazyload="//bizweb.dktcdn.net/thumb/large/100/376/467/products/17951367793-1113668521.jpg?v=1602755025000"
                                                                    alt="QUẦN BÓ MÀU KHÓI"
                                                                    class="image_main img-responsive center-block">
                                                            </a>
                                                        </div>
                                                        <div class="product_desc">
                                                            <div
                                                                class="product_variant_box hidden-sm hidden-xs hidden-md">

                                                                <p class="variant_text variant_text_size nomargin">{{clothes.color}}</p>
                                                            </div>
                                                            <h3 class="product_name">
                                                                <a [routerLink]="['/' + clothes.id + '/detail']"
                                                                    title="QUẦN BÓ MÀU KHÓI">{{clothes.name}}</a>
                                                            </h3>
                                                            <div class="product_prices">


                                                                <span class="special-price">
                                                                    <span class="price-container">
                                                                        <span class="price-wrapper">
                                                                            <span
                                                                                class="price spe-price">{{clothes.newPrice}}</span>
                                                                        </span>
                                                                    </span>
                                                                </span>

                                                                <span class="old-price">
                                                                    <span class="price-container">
                                                                        <span class="price-wrapper">
                                                                            <span
                                                                                class="price olds-price">{{clothes.oldPrice}}</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div
                                                                class="product_action clearfix hidden-sm hidden-xs hidden-md">
                                                                <form action="/cart/add" method="post"
                                                                    class="variants form-nut-grid has-validation-callback"
                                                                    data-id="product-actions-19420617"
                                                                    enctype="multipart/form-data">
                                                                    <input class="hidden variant-id" type="hidden"
                                                                        name="variantId" value="37666937">
                                                                    <button type="submit"
                                                                        data-handle="/quan-bo-mau-khoi" data-title=""
                                                                        data-product-id="19420617"
                                                                        class="loading btn btn_addtocart add_to_cart">
                                                                        ĐẶT MUA NGAY <i class="fa fa-shopping-cart"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav">
                                <div class="owl-prev disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                            </div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="amore text-center">
                        <a href="/do-the-thao-nu" title="Xem thêm ">Xem thêm </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head">
                        <h2>Phụ kiện thể thao </h2>
                        <div class="menu-button-edit">
                            <i class="fa fa-navicon" aria-hidden="true"></i>
                        </div>
                        <ul>
                            <li><a routerLink = '/list-products/Cúp và huy chương/4'>Cúp và huy chương</a></li>

                            <li><a routerLink = '/list-products/Băng gối/5'>Băng gối</a></li>

                            <li><a routerLink = '/list-products/Giày đá bóng/6'>Giày đá bóng</a></li>

                            <li><a routerLink = '/list-products/Tát và túi đựng/7'>Tất và túi đựng</a></li>

                            <li><a routerLink = '/list-products/Bóng Các loại/8'>Bóng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="content">
                        <div class="section-tour-owl2 products products-view-grid owl-carousel not-dqowl owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3480px;">
                                    <div class="owl-item active" style="width: 222px; margin-right: 10px;" *ngFor = 'let item of ListItem'>
                                        <div class="item">
                                            <div class="ant-item-product" id="home_two_cate_item_collection_8"
                                                data-id="19420617">
                                                <div class="product-item">
                                                    <div class="product-wrapper">
                                                        <div class="product-image product-image-block">
                                                            <a [routerLink]="['/' + item.id + '/detail']" title="QUẦN BÓ MÀU KHÓI">
                                                                <img src="../../../assets/img/{{item.images[0].fileName}}"
                                                                    data-lazyload="//bizweb.dktcdn.net/thumb/large/100/376/467/products/17951367793-1113668521.jpg?v=1602755025000"
                                                                    alt="QUẦN BÓ MÀU KHÓI"
                                                                    class="image_main img-responsive center-block">
                                                            </a>
                                                        </div>
                                                        <div class="product_desc">
                                                            <div
                                                                class="product_variant_box hidden-sm hidden-xs hidden-md">

                                                                <p class="variant_text variant_text_size nomargin">{{item.color}}</p>
                                                            </div>
                                                            <h3 class="product_name">
                                                                <a  [routerLink]="['/' + item.id + '/detail']"
                                                                    title="QUẦN BÓ MÀU KHÓI">{{item.name}}</a>
                                                            </h3>
                                                            <div class="product_prices">


                                                                <span class="special-price">
                                                                    <span class="price-container">
                                                                        <span class="price-wrapper">
                                                                            <span
                                                                                class="price spe-price">{{item.newPrice}}</span>
                                                                        </span>
                                                                    </span>
                                                                </span>

                                                                <span class="old-price">
                                                                    <span class="price-container">
                                                                        <span class="price-wrapper">
                                                                            <span
                                                                                class="price olds-price">{{item.oldPrice}}</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div
                                                                class="product_action clearfix hidden-sm hidden-xs hidden-md">
                                                                <form action="/cart/add" method="post"
                                                                    class="variants form-nut-grid has-validation-callback"
                                                                    data-id="product-actions-19420617"
                                                                    enctype="multipart/form-data">
                                                                    <input class="hidden variant-id" type="hidden"
                                                                        name="variantId" value="37666937">
                                                                    <button type="submit"
                                                                        data-handle="/quan-bo-mau-khoi" data-title=""
                                                                        data-product-id="19420617"
                                                                        class="loading btn btn_addtocart add_to_cart">
                                                                        ĐẶT MUA NGAY <i class="fa fa-shopping-cart"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav">
                                <div class="owl-prev disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                            </div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="amore text-center">
                        <a href="/do-the-thao-nu" title="Xem thêm ">Xem thêm </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head">
                        <h2>Sản phẩm hot </h2>
                        <div class="menu-button-edit">
                            <i class="fa fa-navicon" aria-hidden="true"></i>
                        </div>
                        <!-- <ul>
                            <li><a routerLink = '4/list-products'>Cúp và huy chương</a></li>

                            <li><a routerLink = '5/list-products'>Băng gối</a></li>

                            <li><a routerLink = '6/list-products'>Giày đá bóng</a></li>

                            <li><a routerLink = '8/list-products'>Bóng các loại</a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="content">
                        <div class="section-tour-owl2 products products-view-grid owl-carousel not-dqowl owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3480px;">
                                    <div class="owl-item active" style="width: 222px; margin-right: 10px;" *ngFor = 'let item of ListItemHot'>
                                        <div class="item">
                                            <div class="ant-item-product" id="home_two_cate_item_collection_8"
                                                data-id="19420617">
                                                <div class="product-item">
                                                    <div class="product-wrapper">
                                                        <div class="product-image product-image-block">
                                                            <a [routerLink]="['/' + item.id + '/detail']" title="QUẦN BÓ MÀU KHÓI">
                                                                <img src="../../../assets/img/{{item.images[0].fileName}}"
                                                                    data-lazyload="//bizweb.dktcdn.net/thumb/large/100/376/467/products/17951367793-1113668521.jpg?v=1602755025000"
                                                                    alt="QUẦN BÓ MÀU KHÓI"
                                                                    class="image_main img-responsive center-block">
                                                            </a>
                                                        </div>
                                                        <div class="product_desc">
                                                            <div
                                                                class="product_variant_box hidden-sm hidden-xs hidden-md">

                                                                <p class="variant_text variant_text_size nomargin">{{item.color}}</p>
                                                            </div>
                                                            <h3 class="product_name">
                                                                <a  [routerLink]="['/' + item.id + '/detail']"
                                                                    title="QUẦN BÓ MÀU KHÓI">{{item.name}}</a>
                                                            </h3>
                                                            <div class="product_prices">


                                                                <span class="special-price">
                                                                    <span class="price-container">
                                                                        <span class="price-wrapper">
                                                                            <span
                                                                                class="price spe-price">{{item.newPrice}}</span>
                                                                        </span>
                                                                    </span>
                                                                </span>

                                                                <span class="old-price">
                                                                    <span class="price-container">
                                                                        <span class="price-wrapper">
                                                                            <span
                                                                                class="price olds-price">{{item.oldPrice}}</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div
                                                                class="product_action clearfix hidden-sm hidden-xs hidden-md">
                                                                <form action="/cart/add" method="post"
                                                                    class="variants form-nut-grid has-validation-callback"
                                                                    data-id="product-actions-19420617"
                                                                    enctype="multipart/form-data">
                                                                    <input class="hidden variant-id" type="hidden"
                                                                        name="variantId" value="37666937">
                                                                    <button type="submit"
                                                                        data-handle="/quan-bo-mau-khoi" data-title=""
                                                                        data-product-id="19420617"
                                                                        class="loading btn btn_addtocart add_to_cart">
                                                                        ĐẶT MUA NGAY <i class="fa fa-shopping-cart"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav">
                                <div class="owl-prev disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                            </div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="amore text-center">
                        <a href="/do-the-thao-nu" title="Xem thêm ">Xem thêm </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>